$primary-color-hover: white;
$primary-color:  black;
$color-1: #00789A;
$color-2: #1898B5;
$color-3: #0d7444;
$color-4: rgb(12, 12, 255);
$color-5: rgb(104, 7, 7);
$color-6: #09218a;
$color-7: orange;
$color-8: rgb(132, 39, 132);
$color-9: #252525;
$color-10: rgb(165, 6, 104);
$color-11: rgba(74, 65, 65, 0.551);