$primary-color-hover: white;
$primary-color:  black;
$color-1: #00789A;
$color-2: #1898B5;
$color-3: #0d7444;
$color-4: rgb(12, 12, 255);
$color-5: rgb(104, 7, 7);
$color-6: #09218a;
$color-7: orange;
$color-8: rgb(132, 39, 132);
$color-9: #252525;
$color-10: rgb(165, 6, 104);
$color-11: rgba(74, 65, 65, 0.551);
$color-12: red;
$color-13: rgb(53, 53, 237);
$color-14: #AC3FC8;
$color-15: rgba(44, 194, 44, 0.836);
$color-16: rgba(0, 0, 0, 0.681);
$color-17: #973B1D;
$color-18: #7225E7;
$color-19: #083D69;
$color-20: #F0C382;
$color-21: #D6CEB2;