@import 'partials/variables';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/nesting';
@import 'partials/operators';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: $color-2;
}

body {
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom right,#d1f1ff,#e5ffd1);
}


::selection {
    background-color: $color-4;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: $color-6;
    height: 80px;
}

.container-fluid {
    margin-left: 25%;
    padding-left: 7%;
}

.display {
    margin-left: 7%;
}

.nav-item {
    color: $primary-color-hover;
    position: relative;

    .nav-link {
        color: $primary-color-hover;
    }

    .line {
        position: absolute;
        background-color: $primary-color-hover;
        width: 58px;
        height: 1px;
        display: none;
    }
}

.nav-item {
    &:hover {
        .line {
            display: block;
        }
    }
}

.nav-item {
    .line-t {
        position: absolute;
        background-color: $primary-color-hover;
        width: 138px;
        height: 1px;
        display: none;
    }
}

.nav-item {
    &:hover {
        .line-t {
            display: block;
        }
    }
}

.menu-icon{
    .like{
        color: $color-12!important;
        font-size: 20px;
    }
    .add{
        color: $color-20;
        font-size: 20px;
    }
}

.menu-icon{
    .like:hover{
        font-size: 30px;
    }
    .add:hover{
        font-size: 30px;
    }
    
}














// .card-body {
//     height: 50%;
// }

.home-page2 {
    margin-top: 200px;
}

.home-page2 {
    .card {
        border: none;
    }

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 60px;
    }

    h4 {
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 33px;
    }
}













.home-foe-category-3 {
    margin-top: 200px;

    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        width: 30% !important;
        margin: 8px !important;
    }
}

.home-foe-category-3 {
    .card:hover {
        background-color: $color-6;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(41, 27, 171, 0.759) !important;
    }
}













.home-foe-category-4 {
    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        width: 30% !important;
        margin: 8px !important;

    }
}

.home-foe-category-4 {
    .card:hover {
        background-color: $color-6;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(41, 27, 171, 0.759) !important;
    }
}

.home-foe-category-5 {
    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        width: 30% !important;
        margin: 8px !important;
    }
}

.home-foe-category-5 {
    .card:hover {
        background-color: $color-6;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(41, 27, 171, 0.759) !important;
    }
}









.home-discovery6 {
    height: 800px;
    margin-top: 200px;
    background-color: $color-9;

    .card {
        margin-top: 80px;
    }

    h4 {
        color: $primary-color-hover;
        margin-top: 30px;
    }

    span {
        color: $primary-color-hover;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Cormorant Garamond', serif;
    }

}

.home-discovery6 {
    .card {
        height: 550px;
        background-color: $color-9;

        h6 {
            text-align: center;
            margin-top: 40px;
            color: $primary-color-hover;
        }

        p {
            text-align: center;
            color: $primary-color-hover;
        }

        h5 {
            text-align: center;
            color: $primary-color-hover;
        }
    }
}

.home-discovery6 {
    .card {
        img {
            margin-top: 30px;
        }

        .first {
            margin-top: 65px;
            font-family: 'Cormorant Garamond', serif;
            font-family: 'Edu NSW ACT Foundation', cursive;
        }

        h3 {
            color: $primary-color-hover;
            text-align: center;
            margin-top: 26px;
            font-family: 'Cormorant Garamond', serif;
            font-family: 'Edu NSW ACT Foundation', cursive;
            font-family: 'Great Vibes', cursive;
            font-family: 'Permanent Marker', cursive;

        }

        p {
            font-size: 9px;
        }
    }
}


.home-discovery6 {
    .card {
        .las {
            color: $primary-color-hover;
            text-align: center;
            margin-top: 13px;
        }

        .third {
            font-size: 24px;
            text-align: center;
        }

        .card-title-a {
            font-size: 10px;
        }

        h4 {
            text-align: center;
        }
    }
}


.home-discovery6 {
    .card {
        border: 0.1px solid rgba(255, 255, 255, 0.097);

        .card-title-b {
            margin-top: 22px;
        }

        h1 {
            color: $primary-color-hover;
            text-align: center;
            margin-top: 40px;
            font-size: 41px;
            font-family: 'Cormorant Garamond', serif;
            font-family: 'Edu NSW ACT Foundation', cursive;
            font-family: 'Great Vibes', cursive;
            font-family: 'Permanent Marker', cursive;
        }

        .card-title-c {
            margin-top: 14px;
        }
    }
}

.home-discovery6 {
    .card:hover {
        color: $color-11;
        opacity: 0.9;
        border: 1px solid white;
    }
}













//popular

.carousel{
    
    .card{
        margin-top: 100px;
    }
}






















//page about




// .card-body {
//     height: 50%;
// }

.about-slider {
    margin-top: 200px;
}

.about-slider {
    .card {
        border: none;
    }

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 60px;
    }

    h4 {
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 33px;
    }
}





.about-page3 {
    margin-top: 150px;

    h1 {
        text-align: center;
        font-family: 'Cormorant Garamond', serif;

    }

    .card-body {
        .card {
            .la-tv {
                width: 30%;
                height: 100px;
            }
        }


    }
}






.about-services {
    .icons {
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
        margin-left: 2%;
    }

    .wifi {
        width: 180px;

        .la-wifi {
            width: 200px;
            height: 100px;
            font-size: 80px;
            color: $color-18;
        }
    }

    .food {
        margin-left: 2%;
        width: 180px;

        .la-utensils {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }

    .beauty {
        margin-left: 2%;
        width: 180px;

        .la-spa {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }

    .fitness {
        margin-left: 2%;
        width: 180px;

        .la-bicycle {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }

    .coffee {
        margin-left: 2%;
        width: 180px;

        .la-coffee {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }

    .dog {
        margin-left: 4%;
        width: 180px;

        .la-dog {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }
}


.about-services {
    .screen {
        margin-left: 24%;
        width: 180px;

        .la-desktop {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }

    .thermometr {
        margin-left: 4%;
        width: 180px;

        .la-thermometer-empty {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }

    .swim {
        margin-left: 4%;
        width: 180px;

        .la-swimming-pool {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }
}


.about-services {
    .la-wifi:hover {
        color: $color-7;
    }

    .la-utensils:hover {
        color: $color-12
    }

    .la-spa:hover {
        color: $color-7;
    }
}

.about-services {
    .la-bicycle:hover {
        color: $color-11;
    }

    .la-coffee:hover {
        color: $color-17
    }

    .la-dog:hover {
        color: $color-10;
    }
}

.about-services{
    .la-desktop:hover {
        color: $color-3;
    }

    .la-thermometer-empty:hover {
        color: $color-12;
    }

    .la-swimming-pool:hover {
        color: $color-2;
    }
}















//Rooms & Suities


.rooms-page2 {
    margin-top: 200px;

    .card {
        border: none;
    }

    .card-header {
        color: $color-20;
        font-family: 'Cormorant Garamond', serif;
        font-size: 20px;
    }

    .card-text {
        color: $color-9;
    }

}




.rooms-page3 {
    margin-top: 200px;

    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        // width: 30% !important;
        height: 500px;
        margin: 8px !important;
    }
}

.rooms-page3 {
    .card:hover {
        height: 500px;
        font-size: larger;
        background-color: $color-18;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(171, 39, 27, 0.759) !important;
    }
}









.rooms-page4 {

    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        width: 30% !important;
        margin: 8px !important;
    }
}

.rooms-page4 {
    .card:hover {
        font-size: larger;
        background-color: $color-18;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(171, 39, 27, 0.759) !important;
    }
}



.rooms-page5 {

    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        // width: 30% !important;
        margin: 8px !important;
    }
}

.rooms-page5 {
    .card:hover {
        font-size: larger;
        background-color: $color-18;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(171, 39, 27, 0.759) !important;
    }
}


.rooms-page6 {

    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        width: 30% !important;
        margin: 8px !important;
    }
}

.rooms-page6 {
    .card:hover {
        font-size: larger;
        background-color: $color-18;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(171, 39, 27, 0.759) !important;
    }
}



.rooms-page7 {
    h5 {
        color: $primary-color-hover;
    }

    margin-top: 200px;
    padding: 100px;
    background-color: $color-9;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        // position: relative;
        background: $primary-color-hover;
        border-radius: 50%;
        padding: 9px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: inline-block;
        box-shadow: 0 10px 10px rgba(0, 0, 0.7, 0.5);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }
}

.rooms-page7 {
    .icon:hover {
        transform: translateY(5%);
    }
}


.rooms-page7 {
    .la-facebook:hover {
        color: $color-4;
        font-size: 30px;
    }

    .la-twitter:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-instagram:hover {
        color: $color-14;
        font-size: 30px;
    }
}

.rooms-page7 {
    .la-whatsapp:hover {
        color: $color-15;
        font-size: 30px;
    }

    .la-linkedin-in:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-google-play:hover {
        color: $color-13;
        font-size: 30px;
    }
}

.rooms-page7 {
    .la-youtube:hover {
        color: $color-12;
        font-size: 30px;
    }

    p {
        color: $primary-color-hover;
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;
        color: $primary-color;
    }

    .tel {
        margin-left: 2%;

        a {
            text-decoration: none;
        }
    }

    .contact {
        color: $primary-color-hover;
    }
}

.rooms-page7 {
    h6 {
        margin-top: 20px;
        font-size: 30px;
        color: $primary-color-hover;
    }

    .la-map-marked-alt {
        padding-left: 5%;
        padding-top: 1%;
        font-size: 20px;
        color: $primary-color-hover;
    }

    .la-map-marked-alt:hover {
        color: $color-12;
    }
}

.rooms-page7 {
    .location {
        color: $primary-color-hover;
    }

    .email a {
        color: $color-4;
    }
}



























//Gallery

.gallery-page2 {
    margin-top: 100px;

    .col-md-8 {
        margin-top: 200px;
    }

    .col-md-4 {
        margin-top: 400px;
    }
}



.gallery-page3 {
    margin-top: 100px;

    .col-md-8 {
        margin-top: 200px;
    }

    .col-md-4 {
        margin-top: 400px;
    }
}

.gallery-page4 {
    margin-top: 100px;

    .col-md-8 {
        margin-top: 200px;
    }

    .col-md-4 {
        margin-top: 400px;
    }
}


.gallery-page2 {
    img:hover {
        box-shadow: 8px 8px 8px 8px rgb(147, 94, 203);
    }
}

.gallery-page3 {
    img:hover {
        box-shadow: 8px 8px 8px 8px rgb(94, 194, 203);
    }
}

.gallery-page4 {
    img:hover {
        box-shadow: 8px 8px 8px 8px rgb(213, 162, 59);
    }
}




*, body {
    margin: 0;
    padding: 0;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: none;
  }
  #loadMore {
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: blue;
    transition: .3s;
  }
  #loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
  }
  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }













//restaurant

.restaurant-page2 {
    margin-top: 200px;
    text-align: center;

    .card {
        background-color: $color-21;
        width: 100%;
        height: 200px;
    }
}

// .card-body {
//     padding-top: 40px;
// }

.restaurant-page3 {
    margin-top: 200px;
}

.restaurant-page3 {
    .card:hover {
        background-color: $color-7;
        opacity: 0.9;
    }
}

.restaurant-page4 {
    .card:hover {
        background-color: $color-7;
        opacity: 0.9;
    }
}

.restaurant-page5 {
    .card:hover {
        background-color: $color-7;
        opacity: 0.9;
    }
}

.load-more{
    margin-left: 47%;
    margin-top: 50px;
}











//contact

.contact-page1 {
    margin-top: 100px;

    .card-text {
        font-size: 17px;
        margin-top: 30px;
        color: $color-8;
    }

    .btn {
        background-color: $primary-color-hover;
        color: $primary-color;
        padding: 17px;
        border-radius: 40px;
        width: 200px;
        margin-top: 30px;
    }

    .btn:hover {
        background-color: $color-4;
        color: $primary-color-hover;
    }
}


.contact-page1 {
    h5 {
        color: $primary-color;
        margin-top: 40px;
    }

    margin-top: 200px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        // position: relative;
        background: $primary-color-hover;
        border-radius: 50%;
        padding: 9px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: inline-block;
        box-shadow: 0 10px 10px rgba(0, 0, 0.7, 0.5);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }
}

.contact-page1 {
    .icon:hover {
        transform: translateY(5%);
    }
}


.contact-page1 {
    .la-facebook:hover {
        color: $color-4;
        font-size: 30px;
    }

    .la-twitter:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-instagram:hover {
        color: $color-14;
        font-size: 30px;
    }
}

.contact-page1 {
    .la-whatsapp:hover {
        color: $color-15;
        font-size: 30px;
    }

    .la-linkedin-in:hover {
        color: $color-13;
        font-size: 30px;
    }
}

.contact-page1 {
    .la-youtube:hover {
        color: $color-12;
        font-size: 30px;
    }

    .contact {
        margin-top: 30px;
    }
}



.contact-page2{
    margin-top: 200px;
}





.statistics{
    background-color: $color-3;
    height: 200px;
    width: 100%;
    .title{
        color: $primary-color;
    }
    .card{
        background-color: $color-3;
        height: 190px;
        border: none;
        .branch{
            font-size: 60px;
            color: $primary-color-hover;
            text-align: center;
        }
    }
    .smt-font{
        color: $primary-color-hover;
        font-size: 20px;
        text-align: center;
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Dancing Script', cursive;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-family: 'Great Vibes', cursive;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Playball', cursive;
        font-family: 'Tangerine', cursive;
    }
    .second-font{
        margin-top: 30px;
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Dancing Script', cursive;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-family: 'Great Vibes', cursive;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Playball', cursive;
        font-family: 'Tangerine', cursive;
    }

}


.add-carousel{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right,#d1f1ff,#e5ffd1);
}

.info {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
  max-width: 70ch;
  margin: 2em auto;
  padding: 0 1.6rem;
}

.info a {
  font-weight: 600;
  color: rgb(0, 115, 119);
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.container wee-slider {
  margin: auto;
}

wee-slider {
  --wee-slide-align: start;
  --wee-visible-slides-mobile: 1.5;
  --wee-visible-slides-desktop: 3.5;
  --wee-visible-slides: var(--wee-visible-slides-mobile);
  --wee-slide-gap: 10px;
  --wee-navdot-color: rgb(0,0,0);
  --wee-transition: ease-in-out 200ms;
  --wee-slide-width: calc(((100% - (var(--wee-slide-gap) * (var(--wee-visible-slides) - 1))) / var(--wee-visible-slides)));
}

@media screen and (min-width: 990px) {
  wee-slider {
    --wee-visible-slides: var(--wee-visible-slides-desktop);
  }
}

wee-slider[data-align="start"] { --wee-slide-align: start; }
wee-slider[data-align="center"] { --wee-slide-align: center; }
wee-slider[data-align="end"] { --wee-slide-align: end; }

wee-slider {
  position: relative;
  width: 100%;
  display: block;
}

wee-slider:not(.loaded) .wee-slider__buttons,
wee-slider:not(.loaded) .wee-slider__navdots {
  display: none;
}
wee-slider.loaded .wee-slider ::-webkit-scrollbar {
  display: none;
}
wee-slider.loaded .wee-slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

wee-slider .wee-slider {
  position: relative;
  overflow: hidden;
}

wee-slider .wee-slider__slides {
  display: flex;
  gap: var(--wee-slide-gap);
  padding: 0;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

wee-slider .wee-slider__slide {
  display: block;
  min-width: var(--wee-slide-width);
  background: pink;
  scroll-snap-align: var(--wee-slide-align);
  scroll-margin-left: 0;
  scroll-margin-right: 0;
}

wee-slider .wee-slider__buttons button {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

wee-slider .wee-slider__buttons button:not([disabled]) {
  cursor: pointer;
}

wee-slider[data-buttons-on-hover="true"] .wee-slider__buttons {
  opacity: 0;
  transition: opacity ease-in-out 200ms;
}

@media (hover: hover) {
  wee-slider[data-buttons-on-hover="true"]:hover .wee-slider__buttons {
    opacity: 1;
  }
}

wee-slider .wee-slider__button-next {
  right: 0;
}

wee-slider .wee-slider__navdots {
  padding-left: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

wee-slider .wee-slider__navdot {
  position: relative;
  display: block;
  padding: 10px;
}

wee-slider .wee-slider__navdot:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 8px;
  width: 8px;
  background: var(--wee-navdot-color);
  border-radius: 50%;
}

wee-slider .wee-slider__navdot:hover:after {
  scale: 1.2;
}

wee-slider .wee-slider__navdot:not(.visible) {
  opacity: 0.5;
  cursor: pointer;
}

/* DEMO CSS */

wee-slider .wee-slider__slide {
  height: auto;
  background: none;
  opacity: 1;
}

wee-slider .slide-content {
  position: relative;
  height: 0;
  padding-bottom: 80%;
}

wee-slider .slide-content > img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity ease-in-out 80ms;
}

wee-slider.loaded .wee-slider__slide:not(.visible) img {
  opacity: 0.5;
}

wee-slider .wee-slider__buttons button {
  margin: 0 10px;
  border: none;
  font-size: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 24px;
  border-radius: 50%;
  transition: scale ease 100ms;
}

@media (hover: hover) {
  wee-slider .wee-slider__buttons button:hover {
    scale: 1.1;
  }
}

wee-slider .wee-slider__buttons button:before {
  content: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z' fill='white'%3E%3C/path%3E%3C/svg%3E");
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: auto;
}

.wee-slider__button-prev:before {
  translate: -60% -50%;
  rotate: 90deg;
}

.wee-slider__button-next:before {
  translate: -40% -50%;
  rotate: 270deg;
}
}




.special{
    h5{
        font-size: 40px;
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Dancing Script', cursive;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-family: 'Great Vibes', cursive;
        font-family: 'Pacifico', cursive;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Playball', cursive;
        font-family: 'Tangerine', cursive;
    }
    p{
        margin-top: 40px;
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Dancing Script', cursive;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-family: 'Great Vibes', cursive;
        font-family: 'Pacifico', cursive;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Playball', cursive;
        font-family: 'Shadows Into Light', cursive;
        font-family: 'Tangerine', cursive;
    }
}

.first-special{
    h5{
        font-size: 40px;
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Dancing Script', cursive;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-family: 'Great Vibes', cursive;
        font-family: 'Pacifico', cursive;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Playball', cursive;
        font-family: 'Tangerine', cursive;
    }
    p{
        margin-top: 40px;
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Dancing Script', cursive;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-family: 'Great Vibes', cursive;
        font-family: 'Pacifico', cursive;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Playball', cursive;
        font-family: 'Shadows Into Light', cursive;
        font-family: 'Tangerine', cursive;
    }
}



// .lar-la-heart{
//     color: $color-12
// }


