@import 'partials/variables';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/nesting';
@import 'partials/operators';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: $color-2;
}

// .nav-item{
//     scroll-behavior: smooth;
//     position: fixed;
// }

body {
    scroll-behavior: smooth;
}

::selection {
    background-color: $color-4;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: $color-6;
    height: 80px;
}

.container-fluid {
    margin-left: 25%;
    padding-left: 7%;
}

.display {
    margin-left: 7%;
}

.nav-item {
    color: $primary-color-hover;
    position: relative;

    .nav-link {
        color: $primary-color-hover;
    }

    .line {
        position: absolute;
        background-color: $primary-color-hover;
        width: 58px;
        height: 1px;
        display: none;
    }
}

.nav-item {
    &:hover {
        .line {
            display: block;
        }
    }
}

.nav-item {
    .line-t {
        position: absolute;
        background-color: $primary-color-hover;
        width: 138px;
        height: 1px;
        display: none;
    }
}

.nav-item {
    &:hover {
        .line-t {
            display: block;
        }
    }
}

.menu-icon{
    .like{
        color: $color-12;
        font-size: 20px;
    }
    .add{
        color: $color-20;
        font-size: 20px;
    }
}

.menu-icon{
    .like:hover{
        font-size: 30px;
    }
    .add:hover{
        font-size: 30px;
    }
    
}












.card-body {
    height: 50%;
}

.home-page2 {
    margin-top: 200px;
}

.home-page2 {
    .card {
        border: none;
    }

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 60px;
    }

    h4 {
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 33px;
    }
}













.home-foe-category-3 {
    margin-top: 200px;

    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        width: 30% !important;
        margin: 8px !important;
    }
}

.home-foe-category-3 {
    .card:hover {
        background-color: $color-6;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(41, 27, 171, 0.759) !important;
    }
}













.home-foe-category-4 {
    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        width: 30% !important;
        margin: 8px !important;

    }
}

.home-foe-category-4 {
    .card:hover {
        background-color: $color-6;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(41, 27, 171, 0.759) !important;
    }
}

.home-foe-category-5 {
    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        width: 30% !important;
        margin: 8px !important;
    }
}

.home-foe-category-5 {
    .card:hover {
        background-color: $color-6;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(41, 27, 171, 0.759) !important;
    }
}









.home-discovery6 {
    height: 800px;
    margin-top: 200px;
    background-color: $color-9;

    .card {
        margin-top: 80px;
    }

    h4 {
        color: $primary-color-hover;
        margin-top: 30px;
    }

    span {
        color: $primary-color-hover;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Cormorant Garamond', serif;
    }

}

.home-discovery6 {
    .card {
        height: 550px;
        background-color: $color-9;

        h6 {
            text-align: center;
            margin-top: 40px;
            color: $primary-color-hover;
        }

        p {
            text-align: center;
            color: $primary-color-hover;
        }

        h5 {
            text-align: center;
            color: $primary-color-hover;
        }
    }
}

.home-discovery6 {
    .card {
        img {
            margin-top: 30px;
        }

        .first {
            margin-top: 65px;
            font-family: 'Cormorant Garamond', serif;
            font-family: 'Edu NSW ACT Foundation', cursive;
        }

        h3 {
            color: $primary-color-hover;
            text-align: center;
            margin-top: 26px;
            font-family: 'Cormorant Garamond', serif;
            font-family: 'Edu NSW ACT Foundation', cursive;
            font-family: 'Great Vibes', cursive;
            font-family: 'Permanent Marker', cursive;

        }

        p {
            font-size: 9px;
        }
    }
}


.home-discovery6 {
    .card {
        .las {
            color: $primary-color-hover;
            text-align: center;
            margin-top: 13px;
        }

        .third {
            font-size: 24px;
            text-align: center;
        }

        .card-title-a {
            font-size: 10px;
        }

        h4 {
            text-align: center;
        }
    }
}


.home-discovery6 {
    .card {
        border: 0.1px solid rgba(255, 255, 255, 0.097);

        .card-title-b {
            margin-top: 22px;
        }

        h1 {
            color: $primary-color-hover;
            text-align: center;
            margin-top: 40px;
            font-size: 41px;
            font-family: 'Cormorant Garamond', serif;
            font-family: 'Edu NSW ACT Foundation', cursive;
            font-family: 'Great Vibes', cursive;
            font-family: 'Permanent Marker', cursive;
        }

        .card-title-c {
            margin-top: 14px;
        }
    }
}

.home-discovery6 {
    .card:hover {
        color: $color-11;
        opacity: 0.9;
        border: 1px solid white;
    }
}













.home-footer {
    h5 {
        color: $primary-color-hover;
    }

    margin-top: 200px;
    padding: 100px;
    background-color: $color-9;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        // position: relative;
        background: $primary-color-hover;
        border-radius: 50%;
        padding: 9px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: inline-block;
        box-shadow: 0 10px 10px rgba(0, 0, 0.7, 0.5);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }
}

.home-footer {
    .icon:hover {
        transform: translateY(5%);
    }
}


.home-footer {
    .la-facebook:hover {
        color: $color-4;
        font-size: 30px;
    }

    .la-twitter:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-instagram:hover {
        color: $color-14;
        font-size: 30px;
    }
}

.home-footer {
    .la-whatsapp:hover {
        color: $color-15;
        font-size: 30px;
    }

    .la-linkedin-in:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-google-play:hover {
        color: $color-13;
        font-size: 30px;
    }
}

.home-footer {
    .la-youtube:hover {
        color: $color-12;
        font-size: 30px;
    }

    p {
        color: $primary-color-hover;
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;
        color: $primary-color;
    }

    .tel {
        margin-left: 2%;

        a {
            text-decoration: none;
        }
    }

    .contact {
        color: $primary-color-hover;
    }
}

.home-footer {
    h6 {
        margin-top: 20px;
        font-size: 30px;
        color: $primary-color-hover;
    }

    img {
        height: 300px;
        width: 80%;
        margin-top: 20px;
    }

    .la-map-marked-alt {
        padding-left: 5%;
        padding-top: 1%;
        font-size: 20px;
        color: $primary-color-hover;
    }

    .la-map-marked-alt:hover {
        color: $color-12;
    }
}

.home-footer {
    .location {
        color: $primary-color-hover;
    }

    .email a {
        color: $color-4;
    }
}













//popular

.carousel{
    
    .card{
        margin-top: 100px;
    }
}






















//page about




.card-body {
    height: 50%;
}

.about-slider {
    margin-top: 200px;
}

.about-slider {
    .card {
        border: none;
    }

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 60px;
    }

    h4 {
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Cormorant Garamond', serif;
        font-family: 'Edu NSW ACT Foundation', cursive;
        font-size: 33px;
    }
}





.about-page3 {
    margin-top: 150px;

    h1 {
        text-align: center;
        font-family: 'Cormorant Garamond', serif;

    }

    .card-body {
        .card {
            .la-tv {
                width: 30%;
                height: 100px;
            }
        }


    }
}






.about-services {
    .icons {
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
        margin-left: 2%;
    }

    .wifi {
        width: 180px;

        .la-wifi {
            width: 200px;
            height: 100px;
            font-size: 80px;
            color: $color-18;
        }
    }

    .food {
        margin-left: 2%;
        width: 180px;

        .la-utensils {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }

    .beauty {
        margin-left: 2%;
        width: 180px;

        .la-spa {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }

    .fitness {
        margin-left: 2%;
        width: 180px;

        .la-bicycle {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }

    .coffee {
        margin-left: 2%;
        width: 180px;

        .la-coffee {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }

    .dog {
        margin-left: 4%;
        width: 180px;

        .la-dog {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }
}


.about-services {
    .screen {
        margin-left: 24%;
        width: 180px;

        .la-desktop {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }

    .thermometr {
        margin-left: 4%;
        width: 180px;

        .la-thermometer-empty {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }

    .swim {
        margin-left: 4%;
        width: 180px;

        .la-swimming-pool {
            width: 200px;
            height: 100px;
            font-size: 80px;
            margin-left: 8%;
            color: $color-18;
        }
    }
}


.about-services {
    .la-wifi:hover {
        color: $color-7;
    }

    .la-utensils:hover {
        color: $color-12
    }

    .la-spa:hover {
        color: $color-7;
    }
}

.about-services {
    .la-bicycle:hover {
        color: $color-11;
    }

    .la-coffee:hover {
        color: $color-17
    }

    .la-dog:hover {
        color: $color-10;
    }
}

.about-services{
    .la-desktop:hover {
        color: $color-3;
    }

    .la-thermometer-empty:hover {
        color: $color-12;
    }

    .la-swimming-pool:hover {
        color: $color-2;
    }
}





.about-services-2 {
    h5 {
        color: $primary-color-hover;
    }

    margin-top: 200px;
    padding: 100px;
    background-color: $color-9;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        // position: relative;
        background: $primary-color-hover;
        border-radius: 50%;
        padding: 9px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: inline-block;
        box-shadow: 0 10px 10px rgba(0, 0, 0.7, 0.5);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }
}

.about-services-2 {
    .icon:hover {
        transform: translateY(5%);
    }
}


.about-services-2 {
    .la-facebook:hover {
        color: $color-4;
        font-size: 30px;
    }

    .la-twitter:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-instagram:hover {
        color: $color-14;
        font-size: 30px;
    }
}

.about-services-2 {
    .la-whatsapp:hover {
        color: $color-15;
        font-size: 30px;
    }

    .la-linkedin-in:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-google-play:hover {
        color: $color-13;
        font-size: 30px;
    }
}

.about-services-2 {
    .la-youtube:hover {
        color: $color-12;
        font-size: 30px;
    }

    p {
        color: $primary-color-hover;
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;
        color: $primary-color;
    }

    .tel {
        margin-left: 2%;

        a {
            text-decoration: none;
        }
    }

    .contact {
        color: $primary-color-hover;
    }
}

.about-services-2 {
    h6 {
        margin-top: 20px;
        font-size: 30px;
        color: $primary-color-hover;
    }

    // img {
    //     height: 300px;
    //     width: 80%;
    //     margin-top: 20px;
    // }

    .la-map-marked-alt {
        padding-left: 5%;
        padding-top: 1%;
        font-size: 20px;
        color: $primary-color-hover;
    }

    .la-map-marked-alt:hover {
        color: $color-12;
    }
}

.about-services-2 {
    .location {
        color: $primary-color-hover;
    }

    .email a {
        color: $color-4;
    }
}
















//Rooms & Suities


.rooms-page2 {
    margin-top: 200px;

    .card {
        border: none;
    }

    .card-header {
        color: $color-20;
        font-family: 'Cormorant Garamond', serif;
        font-size: 20px;
    }

    .card-text {
        color: $color-9;
    }

}




.rooms-page3 {
    margin-top: 200px;

    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        width: 30% !important;
        margin: 8px !important;
    }
}

.rooms-page3 {
    .card:hover {
        font-size: larger;
        background-color: $color-18;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(171, 39, 27, 0.759) !important;
    }
}









.rooms-page4 {

    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        width: 30% !important;
        margin: 8px !important;
    }
}

.rooms-page4 {
    .card:hover {
        font-size: larger;
        background-color: $color-18;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(171, 39, 27, 0.759) !important;
    }
}



.rooms-page5 {

    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        width: 30% !important;
        margin: 8px !important;
    }
}

.rooms-page5 {
    .card:hover {
        font-size: larger;
        background-color: $color-18;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(171, 39, 27, 0.759) !important;
    }
}


.rooms-page6 {

    .card {
        border: 1px solid rgba(206, 175, 175, 0.516) !important;
        width: 30% !important;
        margin: 8px !important;
    }
}

.rooms-page6 {
    .card:hover {
        font-size: larger;
        background-color: $color-18;
        color: $primary-color-hover !important;
        opacity: 0.8 !important;
        border: 1px solid rgba(171, 39, 27, 0.759) !important;
    }
}



.rooms-page7 {
    h5 {
        color: $primary-color-hover;
    }

    margin-top: 200px;
    padding: 100px;
    background-color: $color-9;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        // position: relative;
        background: $primary-color-hover;
        border-radius: 50%;
        padding: 9px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: inline-block;
        box-shadow: 0 10px 10px rgba(0, 0, 0.7, 0.5);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }
}

.rooms-page7 {
    .icon:hover {
        transform: translateY(5%);
    }
}


.rooms-page7 {
    .la-facebook:hover {
        color: $color-4;
        font-size: 30px;
    }

    .la-twitter:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-instagram:hover {
        color: $color-14;
        font-size: 30px;
    }
}

.rooms-page7 {
    .la-whatsapp:hover {
        color: $color-15;
        font-size: 30px;
    }

    .la-linkedin-in:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-google-play:hover {
        color: $color-13;
        font-size: 30px;
    }
}

.rooms-page7 {
    .la-youtube:hover {
        color: $color-12;
        font-size: 30px;
    }

    p {
        color: $primary-color-hover;
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;
        color: $primary-color;
    }

    .tel {
        margin-left: 2%;

        a {
            text-decoration: none;
        }
    }

    .contact {
        color: $primary-color-hover;
    }
}

.rooms-page7 {
    h6 {
        margin-top: 20px;
        font-size: 30px;
        color: $primary-color-hover;
    }

    // img {
    //     height: 300px;
    //     width: 80%;
    //     margin-top: 20px;
    // }

    .la-map-marked-alt {
        padding-left: 5%;
        padding-top: 1%;
        font-size: 20px;
        color: $primary-color-hover;
    }

    .la-map-marked-alt:hover {
        color: $color-12;
    }
}

.rooms-page7 {
    .location {
        color: $primary-color-hover;
    }

    .email a {
        color: $color-4;
    }
}



























//Gallery

.gallery-page2 {
    margin-top: 100px;

    .col-md-8 {
        margin-top: 200px;
    }

    .col-md-4 {
        margin-top: 400px;
    }
}



.gallery-page3 {
    margin-top: 100px;

    .col-md-8 {
        margin-top: 200px;
    }

    .col-md-4 {
        margin-top: 400px;
    }
}

.gallery-page4 {
    margin-top: 100px;

    .col-md-8 {
        margin-top: 200px;
    }

    .col-md-4 {
        margin-top: 400px;
    }
}


.gallery-page2 {
    img:hover {
        box-shadow: 8px 8px 8px 8px rgb(147, 94, 203);
    }
}

.gallery-page3 {
    img:hover {
        box-shadow: 8px 8px 8px 8px rgb(94, 194, 203);
    }
}

.gallery-page4 {
    img:hover {
        box-shadow: 8px 8px 8px 8px rgb(213, 162, 59);
    }
}



.gallery-page5 {
    h5 {
        color: $primary-color-hover;
    }

    margin-top: 200px;
    padding: 100px;
    background-color: $color-9;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        // position: relative;
        background: $primary-color-hover;
        border-radius: 50%;
        padding: 9px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: inline-block;
        box-shadow: 0 10px 10px rgba(0, 0, 0.7, 0.5);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }
}

.gallery-page5 {
    .icon:hover {
        transform: translateY(5%);
    }
}

.gallery-page5 {
    .la-facebook:hover {
        color: $color-4;
        font-size: 30px;
    }

    .la-twitter:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-instagram:hover {
        color: $color-14;
        font-size: 30px;
    }
}

.gallery-page5 {
    .la-whatsapp:hover {
        color: $color-15;
        font-size: 30px;
    }

    .la-linkedin-in:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-google-play:hover {
        color: $color-13;
        font-size: 30px;
    }
}

.gallery-page5 {
    .la-youtube:hover {
        color: $color-12;
        font-size: 30px;
    }

    p {
        color: $primary-color-hover;
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;
        color: $primary-color;
    }

    .tel {
        margin-left: 2%;

        a {
            text-decoration: none;
        }
    }

    .contact {
        color: $primary-color-hover;
    }
}

.gallery-page5 {
    h6 {
        margin-top: 20px;
        font-size: 30px;
        color: $primary-color-hover;
    }

    // img {
    //     height: 300px;
    //     width: 80%;
    //     margin-top: 20px;
    // }

    .la-map-marked-alt {
        padding-left: 5%;
        padding-top: 1%;
        font-size: 20px;
        color: $primary-color-hover;
    }

    .la-map-marked-alt:hover {
        color: $color-12;
    }
}

.gallery-page5 {
    .location {
        color: $primary-color-hover;
    }

    .email a {
        color: $color-4;
    }
}












//restaurant

.restaurant-page2 {
    margin-top: 200px;
    text-align: center;

    .card {
        background-color: $color-21;
        width: 100%;
        height: 200px;
    }
}

.card-body {
    padding-top: 40px;
}

.restaurant-page3 {
    margin-top: 200px;
}

.restaurant-page3 {
    .card:hover {
        background-color: $color-7;
        opacity: 0.9;
    }
}

.restaurant-page4 {
    .card:hover {
        background-color: $color-7;
        opacity: 0.9;
    }
}

.restaurant-page5 {
    .card:hover {
        background-color: $color-7;
        opacity: 0.9;
    }
}






.restaurant-page6 {
    h5 {
        color: $primary-color-hover;
    }

    margin-top: 200px;
    padding: 100px;
    background-color: $color-9;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        // position: relative;
        background: $primary-color-hover;
        border-radius: 50%;
        padding: 9px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: inline-block;
        box-shadow: 0 10px 10px rgba(0, 0, 0.7, 0.5);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }
}

.restaurant-page6 {
    .icon:hover {
        transform: translateY(5%);
    }
}

.restaurant-page6 {
    .la-facebook:hover {
        color: $color-4;
        font-size: 30px;
    }

    .la-twitter:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-instagram:hover {
        color: $color-14;
        font-size: 30px;
    }
}

.restaurant-page6 {
    .la-whatsapp:hover {
        color: $color-15;
        font-size: 30px;
    }

    .la-linkedin-in:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-google-play:hover {
        color: $color-13;
        font-size: 30px;
    }
}

.restaurant-page6 {
    .la-youtube:hover {
        color: $color-12;
        font-size: 30px;
    }

    p {
        color: $primary-color-hover;
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;
        color: $primary-color;
    }

    .tel {
        margin-left: 2%;

        a {
            text-decoration: none;
        }
    }

    .contact {
        color: $primary-color-hover;
    }
}

.restaurant-page6 {
    h6 {
        margin-top: 20px;
        font-size: 30px;
        color: $primary-color-hover;
    }

    // img {
    //     height: 400px;
    //     width: 80%;
    //     margin-top: 20px;
    // }

    .la-map-marked-alt {
        padding-left: 5%;
        padding-top: 1%;
        font-size: 20px;
        color: $primary-color-hover;
    }

    .la-map-marked-alt:hover {
        color: $color-12;
    }
}

.restaurant-page6 {
    .location {
        color: $primary-color-hover;
    }

    .email a {
        color: $color-4;
    }
}














//contact

.contact-page1 {
    margin-top: 100px;

    .card-text {
        font-size: 17px;
        margin-top: 30px;
        color: $color-8;
    }

    .btn {
        background-color: $primary-color-hover;
        color: $primary-color;
        padding: 17px;
        border-radius: 40px;
        width: 200px;
        margin-top: 30px;
    }

    .btn:hover {
        background-color: $color-4;
        color: $primary-color-hover;
    }
}


.contact-page1 {
    h5 {
        color: $primary-color-hover;
    }

    margin-top: 200px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        // position: relative;
        background: $primary-color-hover;
        border-radius: 50%;
        padding: 9px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: inline-block;
        box-shadow: 0 10px 10px rgba(0, 0, 0.7, 0.5);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }
}

.contact-page1 {
    .icon:hover {
        transform: translateY(5%);
    }
}


.contact-page1 {
    .la-facebook:hover {
        color: $color-4;
        font-size: 30px;
    }

    .la-twitter:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-instagram:hover {
        color: $color-14;
        font-size: 30px;
    }
}

.contact-page1 {
    .la-whatsapp:hover {
        color: $color-15;
        font-size: 30px;
    }

    .la-linkedin-in:hover {
        color: $color-13;
        font-size: 30px;
    }

    .la-google-play:hover {
        color: $color-13;
        font-size: 30px;
    }
}

.contact-page1 {
    .la-youtube:hover {
        color: $color-12;
        font-size: 30px;
    }

    .contact {
        margin-top: 30px;
    }
}



.contact-page2{
    margin-top: 200px;
}





.statistics{
    background-color: $color-3;
    height: 200px;
    width: 100%;
    .title{
        color: $primary-color;
    }
    .card{
        background-color: $color-3;
        height: 190px;
        .branch{
            font-size: 60px;
            color: $primary-color-hover;
            text-align: center;
        }
    }
    .sm-font{
        color: $primary-color-hover;
        font-size: 20px;
        text-align: center;
    }

}