* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #1898B5;
}

body {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: rgb(12, 12, 255);
}

::selection {
  background-color: rgb(12, 12, 255);
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #09218a;
  height: 80px;
}

.container-fluid {
  margin-left: 25%;
  padding-left: 7%;
}

.display {
  margin-left: 7%;
}

.nav-item {
  color: white;
  position: relative;
}
.nav-item .nav-link {
  color: white;
}
.nav-item .line {
  position: absolute;
  background-color: white;
  width: 58px;
  height: 1px;
  display: none;
}

.nav-item:hover .line {
  display: block;
}

.nav-item .line-t {
  position: absolute;
  background-color: white;
  width: 138px;
  height: 1px;
  display: none;
}

.nav-item:hover .line-t {
  display: block;
}

.menu-icon .like {
  color: red;
  font-size: 20px;
}
.menu-icon .add {
  color: #F0C382;
  font-size: 20px;
}

.menu-icon .like:hover {
  font-size: 30px;
}
.menu-icon .add:hover {
  font-size: 30px;
}

.card-body {
  height: 50%;
}

.home-page2 {
  margin-top: 200px;
}

.home-page2 .card {
  border: none;
}
.home-page2 h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
}
.home-page2 h4 {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Cormorant Garamond", serif;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 33px;
}

.home-foe-category-3 {
  margin-top: 200px;
}
.home-foe-category-3 .card {
  border: 1px solid rgba(206, 175, 175, 0.516) !important;
  width: 30% !important;
  margin: 8px !important;
}

.home-foe-category-3 .card:hover {
  background-color: #09218a;
  color: white !important;
  opacity: 0.8 !important;
  border: 1px solid rgba(41, 27, 171, 0.759) !important;
}

.home-foe-category-4 .card {
  border: 1px solid rgba(206, 175, 175, 0.516) !important;
  width: 30% !important;
  margin: 8px !important;
}

.home-foe-category-4 .card:hover {
  background-color: #09218a;
  color: white !important;
  opacity: 0.8 !important;
  border: 1px solid rgba(41, 27, 171, 0.759) !important;
}

.home-foe-category-5 .card {
  border: 1px solid rgba(206, 175, 175, 0.516) !important;
  width: 30% !important;
  margin: 8px !important;
}

.home-foe-category-5 .card:hover {
  background-color: #09218a;
  color: white !important;
  opacity: 0.8 !important;
  border: 1px solid rgba(41, 27, 171, 0.759) !important;
}

.home-discovery6 {
  height: 800px;
  margin-top: 200px;
  background-color: #252525;
}
.home-discovery6 .card {
  margin-top: 80px;
}
.home-discovery6 h4 {
  color: white;
  margin-top: 30px;
}
.home-discovery6 span {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Cormorant Garamond", serif;
}

.home-discovery6 .card {
  height: 550px;
  background-color: #252525;
}
.home-discovery6 .card h6 {
  text-align: center;
  margin-top: 40px;
  color: white;
}
.home-discovery6 .card p {
  text-align: center;
  color: white;
}
.home-discovery6 .card h5 {
  text-align: center;
  color: white;
}

.home-discovery6 .card img {
  margin-top: 30px;
}
.home-discovery6 .card .first {
  margin-top: 65px;
  font-family: "Cormorant Garamond", serif;
  font-family: "Edu NSW ACT Foundation", cursive;
}
.home-discovery6 .card h3 {
  color: white;
  text-align: center;
  margin-top: 26px;
  font-family: "Cormorant Garamond", serif;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Great Vibes", cursive;
  font-family: "Permanent Marker", cursive;
}
.home-discovery6 .card p {
  font-size: 9px;
}

.home-discovery6 .card .las {
  color: white;
  text-align: center;
  margin-top: 13px;
}
.home-discovery6 .card .third {
  font-size: 24px;
  text-align: center;
}
.home-discovery6 .card .card-title-a {
  font-size: 10px;
}
.home-discovery6 .card h4 {
  text-align: center;
}

.home-discovery6 .card {
  border: 0.1px solid rgba(255, 255, 255, 0.097);
}
.home-discovery6 .card .card-title-b {
  margin-top: 22px;
}
.home-discovery6 .card h1 {
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 41px;
  font-family: "Cormorant Garamond", serif;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Great Vibes", cursive;
  font-family: "Permanent Marker", cursive;
}
.home-discovery6 .card .card-title-c {
  margin-top: 14px;
}

.home-discovery6 .card:hover {
  color: rgba(74, 65, 65, 0.551);
  opacity: 0.9;
  border: 1px solid white;
}

.home-footer {
  margin-top: 200px;
  padding: 100px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-footer h5 {
  color: white;
}
.home-footer .icon {
  background: white;
  border-radius: 50%;
  padding: 9px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  box-shadow: 0 10px 10px rgba(0, 0, 1, 0.5);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.home-footer .icon:hover {
  transform: translateY(5%);
}

.home-footer .la-facebook:hover {
  color: rgb(12, 12, 255);
  font-size: 30px;
}
.home-footer .la-twitter:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}
.home-footer .la-instagram:hover {
  color: #AC3FC8;
  font-size: 30px;
}

.home-footer .la-whatsapp:hover {
  color: rgba(44, 194, 44, 0.836);
  font-size: 30px;
}
.home-footer .la-linkedin-in:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}
.home-footer .la-google-play:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}

.home-footer .la-youtube:hover {
  color: red;
  font-size: 30px;
}
.home-footer p {
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  color: black;
}
.home-footer .tel {
  margin-left: 2%;
}
.home-footer .tel a {
  text-decoration: none;
}
.home-footer .contact {
  color: white;
}

.home-footer h6 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
}
.home-footer img {
  height: 300px;
  width: 80%;
  margin-top: 20px;
}
.home-footer .la-map-marked-alt {
  padding-left: 5%;
  padding-top: 1%;
  font-size: 20px;
  color: white;
}
.home-footer .la-map-marked-alt:hover {
  color: red;
}

.home-footer .location {
  color: white;
}
.home-footer .email a {
  color: rgb(12, 12, 255);
}

.carousel .card {
  margin-top: 100px;
}

.card-body {
  height: 50%;
}

.about-slider {
  margin-top: 200px;
}

.about-slider .card {
  border: none;
}
.about-slider h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
}
.about-slider h4 {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Cormorant Garamond", serif;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 33px;
}

.about-page3 {
  margin-top: 150px;
}
.about-page3 h1 {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}
.about-page3 .card-body .card .la-tv {
  width: 30%;
  height: 100px;
}

.about-services .icons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-left: 2%;
}
.about-services .wifi {
  width: 180px;
}
.about-services .wifi .la-wifi {
  width: 200px;
  height: 100px;
  font-size: 80px;
  color: #7225E7;
}
.about-services .food {
  margin-left: 2%;
  width: 180px;
}
.about-services .food .la-utensils {
  width: 200px;
  height: 100px;
  font-size: 80px;
  margin-left: 8%;
  color: #7225E7;
}
.about-services .beauty {
  margin-left: 2%;
  width: 180px;
}
.about-services .beauty .la-spa {
  width: 200px;
  height: 100px;
  font-size: 80px;
  margin-left: 8%;
  color: #7225E7;
}
.about-services .fitness {
  margin-left: 2%;
  width: 180px;
}
.about-services .fitness .la-bicycle {
  width: 200px;
  height: 100px;
  font-size: 80px;
  margin-left: 8%;
  color: #7225E7;
}
.about-services .coffee {
  margin-left: 2%;
  width: 180px;
}
.about-services .coffee .la-coffee {
  width: 200px;
  height: 100px;
  font-size: 80px;
  margin-left: 8%;
  color: #7225E7;
}
.about-services .dog {
  margin-left: 4%;
  width: 180px;
}
.about-services .dog .la-dog {
  width: 200px;
  height: 100px;
  font-size: 80px;
  margin-left: 8%;
  color: #7225E7;
}

.about-services .screen {
  margin-left: 24%;
  width: 180px;
}
.about-services .screen .la-desktop {
  width: 200px;
  height: 100px;
  font-size: 80px;
  margin-left: 8%;
  color: #7225E7;
}
.about-services .thermometr {
  margin-left: 4%;
  width: 180px;
}
.about-services .thermometr .la-thermometer-empty {
  width: 200px;
  height: 100px;
  font-size: 80px;
  margin-left: 8%;
  color: #7225E7;
}
.about-services .swim {
  margin-left: 4%;
  width: 180px;
}
.about-services .swim .la-swimming-pool {
  width: 200px;
  height: 100px;
  font-size: 80px;
  margin-left: 8%;
  color: #7225E7;
}

.about-services .la-wifi:hover {
  color: orange;
}
.about-services .la-utensils:hover {
  color: red;
}
.about-services .la-spa:hover {
  color: orange;
}

.about-services .la-bicycle:hover {
  color: rgba(74, 65, 65, 0.551);
}
.about-services .la-coffee:hover {
  color: #973B1D;
}
.about-services .la-dog:hover {
  color: rgb(165, 6, 104);
}

.about-services .la-desktop:hover {
  color: #0d7444;
}
.about-services .la-thermometer-empty:hover {
  color: red;
}
.about-services .la-swimming-pool:hover {
  color: #1898B5;
}

.about-services-2 {
  margin-top: 200px;
  padding: 100px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-services-2 h5 {
  color: white;
}
.about-services-2 .icon {
  background: white;
  border-radius: 50%;
  padding: 9px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  box-shadow: 0 10px 10px rgba(0, 0, 1, 0.5);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.about-services-2 .icon:hover {
  transform: translateY(5%);
}

.about-services-2 .la-facebook:hover {
  color: rgb(12, 12, 255);
  font-size: 30px;
}
.about-services-2 .la-twitter:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}
.about-services-2 .la-instagram:hover {
  color: #AC3FC8;
  font-size: 30px;
}

.about-services-2 .la-whatsapp:hover {
  color: rgba(44, 194, 44, 0.836);
  font-size: 30px;
}
.about-services-2 .la-linkedin-in:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}
.about-services-2 .la-google-play:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}

.about-services-2 .la-youtube:hover {
  color: red;
  font-size: 30px;
}
.about-services-2 p {
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  color: black;
}
.about-services-2 .tel {
  margin-left: 2%;
}
.about-services-2 .tel a {
  text-decoration: none;
}
.about-services-2 .contact {
  color: white;
}

.about-services-2 h6 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
}
.about-services-2 .la-map-marked-alt {
  padding-left: 5%;
  padding-top: 1%;
  font-size: 20px;
  color: white;
}
.about-services-2 .la-map-marked-alt:hover {
  color: red;
}

.about-services-2 .location {
  color: white;
}
.about-services-2 .email a {
  color: rgb(12, 12, 255);
}

.rooms-page2 {
  margin-top: 200px;
}
.rooms-page2 .card {
  border: none;
}
.rooms-page2 .card-header {
  color: #F0C382;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}
.rooms-page2 .card-text {
  color: #252525;
}

.rooms-page3 {
  margin-top: 200px;
}
.rooms-page3 .card {
  border: 1px solid rgba(206, 175, 175, 0.516) !important;
  width: 30% !important;
  margin: 8px !important;
}

.rooms-page3 .card:hover {
  font-size: larger;
  background-color: #7225E7;
  color: white !important;
  opacity: 0.8 !important;
  border: 1px solid rgba(171, 39, 27, 0.759) !important;
}

.rooms-page4 .card {
  border: 1px solid rgba(206, 175, 175, 0.516) !important;
  width: 30% !important;
  margin: 8px !important;
}

.rooms-page4 .card:hover {
  font-size: larger;
  background-color: #7225E7;
  color: white !important;
  opacity: 0.8 !important;
  border: 1px solid rgba(171, 39, 27, 0.759) !important;
}

.rooms-page5 .card {
  border: 1px solid rgba(206, 175, 175, 0.516) !important;
  width: 30% !important;
  margin: 8px !important;
}

.rooms-page5 .card:hover {
  font-size: larger;
  background-color: #7225E7;
  color: white !important;
  opacity: 0.8 !important;
  border: 1px solid rgba(171, 39, 27, 0.759) !important;
}

.rooms-page6 .card {
  border: 1px solid rgba(206, 175, 175, 0.516) !important;
  width: 30% !important;
  margin: 8px !important;
}

.rooms-page6 .card:hover {
  font-size: larger;
  background-color: #7225E7;
  color: white !important;
  opacity: 0.8 !important;
  border: 1px solid rgba(171, 39, 27, 0.759) !important;
}

.rooms-page7 {
  margin-top: 200px;
  padding: 100px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rooms-page7 h5 {
  color: white;
}
.rooms-page7 .icon {
  background: white;
  border-radius: 50%;
  padding: 9px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  box-shadow: 0 10px 10px rgba(0, 0, 1, 0.5);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.rooms-page7 .icon:hover {
  transform: translateY(5%);
}

.rooms-page7 .la-facebook:hover {
  color: rgb(12, 12, 255);
  font-size: 30px;
}
.rooms-page7 .la-twitter:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}
.rooms-page7 .la-instagram:hover {
  color: #AC3FC8;
  font-size: 30px;
}

.rooms-page7 .la-whatsapp:hover {
  color: rgba(44, 194, 44, 0.836);
  font-size: 30px;
}
.rooms-page7 .la-linkedin-in:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}
.rooms-page7 .la-google-play:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}

.rooms-page7 .la-youtube:hover {
  color: red;
  font-size: 30px;
}
.rooms-page7 p {
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  color: black;
}
.rooms-page7 .tel {
  margin-left: 2%;
}
.rooms-page7 .tel a {
  text-decoration: none;
}
.rooms-page7 .contact {
  color: white;
}

.rooms-page7 h6 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
}
.rooms-page7 .la-map-marked-alt {
  padding-left: 5%;
  padding-top: 1%;
  font-size: 20px;
  color: white;
}
.rooms-page7 .la-map-marked-alt:hover {
  color: red;
}

.rooms-page7 .location {
  color: white;
}
.rooms-page7 .email a {
  color: rgb(12, 12, 255);
}

.gallery-page2 {
  margin-top: 100px;
}
.gallery-page2 .col-md-8 {
  margin-top: 200px;
}
.gallery-page2 .col-md-4 {
  margin-top: 400px;
}

.gallery-page3 {
  margin-top: 100px;
}
.gallery-page3 .col-md-8 {
  margin-top: 200px;
}
.gallery-page3 .col-md-4 {
  margin-top: 400px;
}

.gallery-page4 {
  margin-top: 100px;
}
.gallery-page4 .col-md-8 {
  margin-top: 200px;
}
.gallery-page4 .col-md-4 {
  margin-top: 400px;
}

.gallery-page2 img:hover {
  box-shadow: 8px 8px 8px 8px rgb(147, 94, 203);
}

.gallery-page3 img:hover {
  box-shadow: 8px 8px 8px 8px rgb(94, 194, 203);
}

.gallery-page4 img:hover {
  box-shadow: 8px 8px 8px 8px rgb(213, 162, 59);
}

.gallery-page5 {
  margin-top: 200px;
  padding: 100px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-page5 h5 {
  color: white;
}
.gallery-page5 .icon {
  background: white;
  border-radius: 50%;
  padding: 9px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  box-shadow: 0 10px 10px rgba(0, 0, 1, 0.5);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.gallery-page5 .icon:hover {
  transform: translateY(5%);
}

.gallery-page5 .la-facebook:hover {
  color: rgb(12, 12, 255);
  font-size: 30px;
}
.gallery-page5 .la-twitter:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}
.gallery-page5 .la-instagram:hover {
  color: #AC3FC8;
  font-size: 30px;
}

.gallery-page5 .la-whatsapp:hover {
  color: rgba(44, 194, 44, 0.836);
  font-size: 30px;
}
.gallery-page5 .la-linkedin-in:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}
.gallery-page5 .la-google-play:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}

.gallery-page5 .la-youtube:hover {
  color: red;
  font-size: 30px;
}
.gallery-page5 p {
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  color: black;
}
.gallery-page5 .tel {
  margin-left: 2%;
}
.gallery-page5 .tel a {
  text-decoration: none;
}
.gallery-page5 .contact {
  color: white;
}

.gallery-page5 h6 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
}
.gallery-page5 .la-map-marked-alt {
  padding-left: 5%;
  padding-top: 1%;
  font-size: 20px;
  color: white;
}
.gallery-page5 .la-map-marked-alt:hover {
  color: red;
}

.gallery-page5 .location {
  color: white;
}
.gallery-page5 .email a {
  color: rgb(12, 12, 255);
}

.restaurant-page2 {
  margin-top: 200px;
  text-align: center;
}
.restaurant-page2 .card {
  background-color: #D6CEB2;
  width: 100%;
  height: 200px;
}

.card-body {
  padding-top: 40px;
}

.restaurant-page3 {
  margin-top: 200px;
}

.restaurant-page3 .card:hover {
  background-color: orange;
  opacity: 0.9;
}

.restaurant-page4 .card:hover {
  background-color: orange;
  opacity: 0.9;
}

.restaurant-page5 .card:hover {
  background-color: orange;
  opacity: 0.9;
}

.restaurant-page6 {
  margin-top: 200px;
  padding: 100px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant-page6 h5 {
  color: white;
}
.restaurant-page6 .icon {
  background: white;
  border-radius: 50%;
  padding: 9px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  box-shadow: 0 10px 10px rgba(0, 0, 1, 0.5);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.restaurant-page6 .icon:hover {
  transform: translateY(5%);
}

.restaurant-page6 .la-facebook:hover {
  color: rgb(12, 12, 255);
  font-size: 30px;
}
.restaurant-page6 .la-twitter:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}
.restaurant-page6 .la-instagram:hover {
  color: #AC3FC8;
  font-size: 30px;
}

.restaurant-page6 .la-whatsapp:hover {
  color: rgba(44, 194, 44, 0.836);
  font-size: 30px;
}
.restaurant-page6 .la-linkedin-in:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}
.restaurant-page6 .la-google-play:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}

.restaurant-page6 .la-youtube:hover {
  color: red;
  font-size: 30px;
}
.restaurant-page6 p {
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  color: black;
}
.restaurant-page6 .tel {
  margin-left: 2%;
}
.restaurant-page6 .tel a {
  text-decoration: none;
}
.restaurant-page6 .contact {
  color: white;
}

.restaurant-page6 h6 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
}
.restaurant-page6 .la-map-marked-alt {
  padding-left: 5%;
  padding-top: 1%;
  font-size: 20px;
  color: white;
}
.restaurant-page6 .la-map-marked-alt:hover {
  color: red;
}

.restaurant-page6 .location {
  color: white;
}
.restaurant-page6 .email a {
  color: rgb(12, 12, 255);
}

.contact-page1 {
  margin-top: 100px;
}
.contact-page1 .card-text {
  font-size: 17px;
  margin-top: 30px;
  color: rgb(132, 39, 132);
}
.contact-page1 .btn {
  background-color: white;
  color: black;
  padding: 17px;
  border-radius: 40px;
  width: 200px;
  margin-top: 30px;
}
.contact-page1 .btn:hover {
  background-color: rgb(12, 12, 255);
  color: white;
}

.contact-page1 {
  margin-top: 200px;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-page1 h5 {
  color: white;
}
.contact-page1 .icon {
  background: white;
  border-radius: 50%;
  padding: 9px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  box-shadow: 0 10px 10px rgba(0, 0, 1, 0.5);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-page1 .icon:hover {
  transform: translateY(5%);
}

.contact-page1 .la-facebook:hover {
  color: rgb(12, 12, 255);
  font-size: 30px;
}
.contact-page1 .la-twitter:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}
.contact-page1 .la-instagram:hover {
  color: #AC3FC8;
  font-size: 30px;
}

.contact-page1 .la-whatsapp:hover {
  color: rgba(44, 194, 44, 0.836);
  font-size: 30px;
}
.contact-page1 .la-linkedin-in:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}
.contact-page1 .la-google-play:hover {
  color: rgb(53, 53, 237);
  font-size: 30px;
}

.contact-page1 .la-youtube:hover {
  color: red;
  font-size: 30px;
}
.contact-page1 .contact {
  margin-top: 30px;
}

.contact-page2 {
  margin-top: 200px;
}

.statistics {
  background-color: #0d7444;
  height: 200px;
  width: 100%;
}
.statistics .title {
  color: black;
}
.statistics .card {
  background-color: #0d7444;
  height: 190px;
}
.statistics .card .branch {
  font-size: 60px;
  color: white;
  text-align: center;
}
.statistics .sm-font {
  color: white;
  font-size: 20px;
  text-align: center;
}